ul{
    border-left: dotted 1px #888;
    list-style: none;
    padding-left: 16px;
}

option{
    color:#000000;
}
#conditionContainer a {
    color:black;
    cursor: pointer;
    font-weight: 600;
}
#conditionContainer a:hover {
    text-decoration:underline;
    color:black;
}
#conditionContainer a.opened:hover {
    text-decoration: none;
}
.deleteInput{
    margin-left:5px;
}
.deleteInput:hover{
    color:red !important;
}
.addNestButton:hover{
    color:#89AC9F !important;
}
.inlineInputForm.multipleSelect{
    min-width:400px;
    display:block;
}
